@use 'src/styles/vars';
@use 'sass:color';
@use 'sass:math';

.notfound{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  background: vars.$backgroundDark;


  h2 {
    margin-left: 1em;
    margin-bottom: 1em;
    position: absolute;
    font-size: 5em;
    color: #252839;
    text-shadow: 0 0 0.3vw #383d52;
    text-transform: uppercase;
    user-select: none;
  }

  h2:before {

    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: vars.$goldPolice;
    text-shadow: 0 0 0.3vw #383d52;
    border-right: 2px solid vars.$goldPolice;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }

  p {
    margin-top: 5em;
    margin-left: 1em;
    font-size: 1.6em;
    a {
      text-decoration: none;
      color: vars.$goldPolice;
    }
  }

  @keyframes animate {

    0%,
    10%,
    100% {
      width: 0;
    }

    70%,
    90% {
      width: 100%;
    }
  }

}
@media screen and (max-width: 850px) {
  .notfound {
    font-size: 1.1em;
  }
}
