.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  width: 90%;
  margin: auto;
  font-size: 1.1em;
  flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main {
    width: 100%;
    font-size: 1em;
  }
}
