.validate-post {
  text-align: center;
  font-style: oblique;
  width: 70%;
  padding: 1em;
  background-color: #aef4b7;
  border-radius: 5px;

  img {
    display: block;
    width: 5rem;
    margin: 0 auto;
  }
}
